<html> 
<head> 
      <title>CSRF - Signup Router</title> 
</head> 
<body> 
    <form action="/api/signup" method="POST"> 
       <input type="hidden" name="_csrf" value="<%= csrfToken %>"> 
       <input type="text" name="myname"> 
       <input type="submit" value="Submit"> 
    </form> 
</body> 
</html> 
